
// app global css in Sass form
@import 'quasar.variables.sass'
.text-website-white
  color: $website-white

.bg-website-white
  background-color: $website-white

.bg-website-mustard-yellow
  background-color: $website-mustard-yellow

