// app global css in Sass form
@import 'quasar.variables.sass'

@font-face
  font-family: Satisfy
  src: url("../assets/fonts/Satisfy/Satisfy-Regular.ttf")

@font-face
  font-family: Alegreya Sans SC
  src: url("../assets/fonts/Alegreya-SC/AlegreyaSansSC-Regular.ttf")

@font-face
  font-family: Inter
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf")

.no-hightlight
  user-select: none

.float-image
  box-shadow: 5px 5px 5px grey

